body{
    background-color: black;
}
.container{
    max-width: 1500px;
    .row{
        display: flex;
        .col-8{
            width: 80%;
            .gallery{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                gap: 10px;
                .image{
                    height: 250px;
                    width: 100%;
                    overflow: hidden;
                    img{
                        height: 250px;
                        width: 100%;
                        transition: 0.5s ease-in-out all;
                    }
                    &:hover{
                        img{
                            transform: scale(1.1);
                        }
                    }
                }
                .image1{
                    grid-column: 1 / span 3;
                }
                .image4{
                    grid-column: 2 / span 2;
                }
                .image6{
                    grid-column: 1 / span 2;
                }
                .image7{
                    grid-column: 3 / span 2;
                }
            }
        }
        .col-2{
            width: 20%;
            color: #fff;
            text-align: end;
            padding-right: 20px;
            h4{
                text-transform: uppercase;
                font-family: monospace;
                font-size: 20px;
            }
            .nav{
                list-style: none;
                .nav-item{
                    line-height: 2rem;
                    font-family: monospace;
                    font-size: 16px;
                    &.active{
                        color: brown;
                    }
                }
            }
            .social{
                display: flex;
                justify-content: end;
                gap: 10px 20px;
                margin-top: 40px;
            }
        }
    }
}