@media (max-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0;
  }
  header .navbar {
    margin: 0 50px;
  }
  header .navbar .menubar .nav-bar {
    display: none !important;
  }
  .tryitfree {
    width: 75%;
  }
  .tryitfree .save {
    display: none;
  }
  .tryitfree .heading {
    font-size: 45px;
    font-weight: 600;
    line-height: 45px;
    color: #35414B;
  }
  .tryitfree .desc {
    width: 100%;
    font-size: 21px;
    text-align: justify;
    line-height: 26px;
    margin-top: 25px;
  }
  .tryitfree form {
    flex-direction: column;
  }
  .tryitfree form input {
    width: 94%;
    margin: 10px 0;
    border-radius: 5px;
  }
  .tryitfree form button {
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
  }
  .overview {
    max-width: 100%;
  }
  .overview .sidebar {
    width: auto;
    padding: 5px;
  }
  .overview .sidebar .profile {
    height: 60px;
  }
  .overview .sidebar .profile img {
    height: 30px;
    width: 30px;
  }
  .overview .sidebar .iconlist {
    font-size: 14px;
  }
  .overview .content {
    padding: 10px;
  }
  .overview .content .overview-heading {
    margin: 10px 0;
  }
  .overview .content .overview-heading h1 {
    font-size: 18px;
  }
  .overview .content .grid .col {
    padding: 10px;
  }
  .overview .content .grid .col .up-down .heading {
    font-size: 18px;
  }
  .overview .content .grid .col .up-down .percentage .up {
    font-size: 10px;
  }
  .overview .content .grid .col .up-down .percentage .up .fa-solid {
    font-size: 10px;
  }
  .overview .content .grid .col .up-down .percentage .down {
    font-size: 10px;
  }
  .overview .content .grid .col .up-down .percentage .down .fa-solid {
    font-size: 10px;
  }
  .overview .content .grid .col.launched-project .heading {
    font-size: 14px;
    margin-bottom: 23.5px;
  }
  .overview .content .grid .col.launched-project .graph .bar .bar-div {
    width: 23px !important;
  }
  .overview .content .grid .col.launched-project .graph .bar .bar-div .bar-color {
    width: 17px !important;
  }
  .overview .content .grid .col.hour-marked .heading {
    font-size: 14px;
  }
  .overview .content .grid .col.hour-marked .graph .hours .number {
    height: 45px;
  }
  .overview .content .grid .col.hour-marked .graph .hours .number .bar {
    bottom: 50px !important;
    width: 32px !important;
    margin-left: 8.5px !important;
  }
  .trustedby {
    margin: 40px 15px;
  }
  .timeline-section .container {
    padding: 0;
  }
  .timeline-section .row {
    flex-direction: column;
    gap: 20px 0;
    margin: 0 15px;
  }
  .timeline-section .row .timeline-review .timeline {
    padding: 15px;
    width: 290px;
  }
  .timeline-section .row .timeline-review .timeline h2 {
    font-size: 14px;
  }
  .timeline-section .row .timeline-review .timeline .timeline-content ul li::after {
    top: 40px;
    left: 14px;
    height: 200px;
  }
  .timeline-section .row .timeline-review .timeline .timeline-content ul li:last-child::after {
    top: 287px;
    height: 73px;
  }
  .timeline-section .row .timeline-review .timeline .timeline-content .time .icon .fa-solid {
    font-size: 10px;
    padding: 8px;
  }
  .timeline-section .row .timeline-review .timeline .timeline-content .tag-message {
    margin-left: 35px;
  }
  .timeline-section .row .timeline-review .timeline .timeline-content .tag-message li {
    padding: 10px;
  }
  .timeline-section .row .timeline-review .timeline .timeline-content .tag-message li p {
    font-size: 11px;
  }
  .timeline-section .row .timeline-review .message {
    padding: 15px;
    width: 264px;
    height: 250px;
    left: 200px;
    top: 160px;
  }
  .timeline-section .row .timeline-review .message .message-box {
    height: 110px;
    padding: 10px;
  }
  .timeline-section .row .timeline-review .message .send-btn {
    width: 100%;
  }
  .timeline-section .row .survey {
    margin-top: 20px;
  }
  .timeline-section .row .survey .list {
    width: 100%;
  }
  .timeline-section .row .survey .list .list-data {
    text-align: center;
    padding: 27px 100px;
  }
  .timeline-section .row .survey .list .list-data.active {
    border-bottom: 8px solid #794CFF;
    border-left: unset;
  }
  .work-easier .heading h2 {
    font-size: 20px;
  }
  .work-easier .row {
    grid-template-columns: repeat(1, 1fr);
  }
  .work-easier .row .col {
    display: none;
  }
  .work-easier .row .col:nth-child(1), .work-easier .row .col:nth-child(2), .work-easier .row .col:nth-child(3) {
    display: block;
  }
  .work-easier .row .col div {
    width: 300px;
    margin: auto;
    text-align: center;
  }
  .work-easier .row .col div .img {
    margin: 0 auto;
  }
  .work-everyday .row {
    flex-direction: column-reverse;
  }
  .work-everyday .row .content {
    width: 100%;
  }
  .work-everyday .row .graphs {
    width: 100%;
  }
  .work-everyday .row .graphs .hour-marked {
    width: 70%;
  }
  .work-everyday .row .graphs .hour-marked .graph .hour-number, .work-everyday .row .graphs .hour-marked .graph .month-col span {
    font-size: 11px;
  }
  .work-everyday .row .graphs .hour-marked .graph .bar {
    width: 26px !important;
  }
  .work-everyday .row .graphs .launched-project {
    top: 180px;
    left: 240px;
    padding: 15px;
  }
  .work-everyday .row .graphs .launched-project .graph span {
    font-size: 11px;
    padding: 5px 0;
  }
  .work-everyday .row .content div {
    margin-top: 50px;
    text-align: center;
  }
  .work-everyday .row .content h1 {
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    width: 253px;
    margin: auto;
  }
  .work-everyday .row .content p {
    width: 350px;
    text-align: center;
    margin: 15px auto;
  }
  .work-everyday .row .content button {
    width: 300px;
    height: 60px;
  }
  .testimonials {
    padding: 0 50px;
  }
  .testimonials .heading {
    font-size: 25px;
    width: 250px;
    line-height: 30px;
  }
  .testimonials .desc {
    font-size: 18px;
    width: 100%;
  }
  .testimonials .row {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }
  .testimonials .row .col {
    display: none;
  }
  .testimonials .row .col:nth-child(1) {
    display: block;
    border: none;
    text-align: center;
  }
  .app-gplay-appstore-section {
    background-color: #796EFF;
  }
  .app-gplay-appstore-section .app-gplay-appstore {
    margin: 20px 0;
    padding: 20px 0;
    background-color: transparent;
  }
  .app-gplay-appstore-section .app-gplay-appstore .row {
    display: block;
  }
  .app-gplay-appstore-section .app-gplay-appstore .row .col {
    width: 100%;
    margin: 20px 0;
  }
  .app-gplay-appstore-section .app-gplay-appstore .row .col h2 {
    width: 100%;
    margin: 0 auto;
    line-height: 35px;
    font-size: 25px;
    text-align: center;
  }
  footer .upper-footer .row {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 20px;
  }
  footer .upper-footer .row .col .heading {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .upper-footer .row .col ul {
    display: none;
  }
  footer .bottom-footer .social {
    display: none;
  }
}/*# sourceMappingURL=max-576.css.map */